{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    "react-require",
    ["module-resolver", {
      "root": ".", 
      "alias": {
        "~": "./src"
      }
    }],
    "inline-react-svg",
    "transform-object-rest-spread",
    "styled-components",
    "react-hot-loader/babel"
  ]
}