{
  "parser": "babel-eslint",
  "extends": [
    "react-app"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/no-children-prop": 0,
    "react/jsx-key": 0,
    "no-unused-expressions": 0,
    "jsx-a11y/anchor-has-content": 0,
    "jsx-a11y/heading-has-content": 0
  }
}